.news-card-container {
  .news-each-card {
    background-color: #c7cabaad;
    height: 300px;
    max-height: 300px;
  }
  .news-button {
    border-color: #51504b;
    color: #51504b;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
}
